<app-header-restaurant></app-header-restaurant>

<section
  class="custom-container-600 container text-light d-flex flex-column justify-content-center align-items-center gap-4"
  *ngIf="reservations$ | async as reservations else loading"
>
  <article
    class="custom-container-600 container my-4 d-flex gap-2 justify-content-center"
  >
    <button
      class="d-flex gap-1 btn btn-custom-peachfuzz"
      (click)="displayReservationsStateToManage('hold')"
    >
      En cours ⏳</button
    ><button
      class="d-flex gap-1 btn btn-custom-peachfuzz"
      (click)="displayReservationsToManage('gran')"
    >
      Validées ✓
    </button>
  </article>
  <app-reservation
    *ngIf="isStateToManage"
    [reservations]="reservations"
    [state]="'hold'"
  ></app-reservation>

  <app-reservation
    *ngIf="isGranToManage"
    [reservations]="reservations"
    [state]="'gran'"
  ></app-reservation>

  <ng-container
    *ngIf="areReservationsEmptyOrNotSelectedState(reservations, selectedState)"
  >
    <h2 class="text-center">0 réservations</h2>
  </ng-container>
</section>

<ng-template #loading>
  <h2
    class="h-100 d-flex justify-content-center align-items-center text-center text-light"
  >
    Chargement ...
  </h2>
</ng-template>
