<div class="container-bottom-nav">
  <!-- Reservation -->
  <i class="bi bi-chat-left-text-fill"></i>
  <i class="bi bi-clock-history"></i>
  <i class="bi bi-bell-fill"></i>
  <i class="bi bi-bookmarks-fill"></i>
  <i class="bi bi-envelope-at-fill"></i>
  <!-- Home (restaurants) -->
  <i class="bi bi-app"></i>
  <i class="bi bi-border-all"></i>
  <i class="bi bi-command"></i>
  <!-- Orders -->
  <i class="bi bi-clipboard-check"></i>
  <!-- Bill -->
  <i class="bi bi-bag-fill"></i>
  <i class="bi bi-currency-dollar"></i>
  <i class="bi bi-basket3-fill"></i>
  <i class="bi bi-calculator"></i>
  <i class="bi bi-calendar2-week-fill"></i>
  <i class="bi bi-cart"></i>
  <i class="bi bi-cash-coin"></i>
  <i class="bi bi-coin"></i>
  <i class="bi bi-credit-card-fill"></i>
  <i class="bi bi-flower1"></i>
  <i class="bi bi-grid"></i>
  <i class="bi bi-grid-fill"></i>
  <i class="bi bi-journals"></i>
</div>
