<div class="container-bottom-nav d-flex justify-content-center align-items-center position-fixed bottom-0 w-100 mt-4">
  <div class="row">
    <!-- Reservation -->
    <a class="col" href="/resa">
      <i class="bi bi-envelope-at-fill"></i>
    </a>
    <!-- Tables -->
    <a class="col" href="/table">
      <i class="bi bi-columns-gap"></i>
    </a>
    <!-- Home (restaurants) -->
    <a class="col" href="/restaurants">
      <i class="bi bi-app"></i>
    </a>
    <!-- Orders -->
    <a class="col" href="/commandes">
      <i class="bi bi-journals"></i>
    </a>
    <!-- Bill -->
    <a class="col" href="/commandes/bill/{id}">
      <i class="bi bi-cash-coin"></i>
    </a>
  </div>
</div>
