<section
  class="container text-light position-absolute top-50 start-50 translate-middle"
>
  <h1 class="playfair-font color-custom-ochre h1 text-center">La Pâte d'Or</h1>

  <h2 class="h4 text-center fw-light fst-italic mb-4">Connexion</h2>

  <form class="custom-container-600 container mx-auto" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="d-none" for="name">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Votre email..."
        [(ngModel)]="email"
        class="form-control mb-2 h6"
      />
    </div>
    <div class="form-group">
      <label class="d-none" for="password">Mot de passe </label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Votre mot de passe..."
        [(ngModel)]="password"
        class="form-control h6"
      />
    </div>
    <div class="d-flex my-2">
      <button class="btn btn-custom-ochre mx-auto h6">Connexion</button>
    </div>
    @if (authenticationResult == false) {
    <p class="text-center h6">Indentifiant(s) incorrects</p>
    }
  </form>
</section>
